.fader{padding-left: 260px;


}
.prueba{
  display: flex;
  flex-direction: space-between;
  width: 900px;

}
/**Texto*/
.txt-age-1{
margin-bottom: 0px;
font-size: 70px;
width: 700px;

}
.txt-age{
margin-bottom: 0px;
width: 700px;

}
.txt-res{
  width: 600px;
  margin-top: 10px;
  color: rgb(58, 128, 186);
  margin-bottom: 10px;
  font-size: 70px;
}
.txt-fe{
  color: rgb(58, 128, 186);
  margin-top: 0px;
  font-size: 40px;
}
.linea
{
    margin-top: 0px;
    border: 5px solid rgb(145, 208, 37);
    width: 453px;
    margin-left:0px;
}

/*  este */

.img-azul{
  width: 600px;
  height:880px;
  padding-bottom: 50px;
  z-index: -1;
  position:relative;
}
.portada{
  padding-left: 100px;
  padding-top: 500px;
  width: 700px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

/*logos*/
.logos{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
      }

.ims{
height: 100px;
width: 100px;
}
.ims2{
  height: 100px;
  margin-top:0px;
  z-index: 1;
  position:absolute;

}
/*Siguientes hojas parte procurador*/
.sigui-pa{
  padding-top: 40px;
}
.esp-pro{
  padding-top: 90px;
  border: 3px solid #91D025;
  height: 600px;
  margin-left:0px;
}
.datos-esp-pro{

  display: flex;
}

.datos-esp-pro{
    padding-left: 20px;

}
.datos-pro{

  margin-top: 0px;
}

.linea-pro{
  border:  2px solid #91D025;
  width: 300px;
  margin-top: 0px;

}
.datos-esp-pro{
  padding-top:  25px;
  padding-right: 10px;

}
.datos-pro-fe{
padding-left: 30px;
}
.datos-pro-text{
width: 500px;
}
.tipo-text{
  text-align: justify;
}
.text-arro{
  color:#3A80BA ;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}
.text-pro{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C2C2C2;
  font-weight: bold;
  font-size: 19px;
}
/*icons*/
.conju-pro{
  display: flex;
  flex-direction: column;
}
.icons-pos{
  display: flex;
  width:250px;
}
.icons{
  padding-right:10px;
  padding-top: 3px;
  width: 30px;
  height:30px;
}
.icons-txt{
margin: 3px;
}
.iconmano{
  width: 30px;
  height: 30px;
}
.txt-mano{
  width: 500px;
  text-align: justify;
  background: rgba(58, 129, 186, 0.5);
}
.mano{
  padding-left: 25px;
  display: flex;
  padding-right: 10px;
  width: 200px;

}
.centro-mano{
  padding-top: 400px;
  display: flex;
  justify-content: center;
}
/* agendapdf*/
.nombre-agendasemanal{
  color: #3A80BA;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;

}
.cargo-age{
  margin-top:0px;
}
.fecha-hora-ubi{
  padding-top: 70px;
}
.paq-1{
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
}
/* text*/
.txt-res2{
  width: 600px;
  margin-top: 10px;
  color: rgb(58, 128, 186);
  margin-bottom: 10px;
  font-size: 58px;
}
.txt-age-2{
  margin-bottom: 0px;
  font-size: 60px;
  width: 700px;
  color: rgb(13, 33, 66);

}
.linea-2
{
    margin-top: 0px;
    border: 5px solid rgb(145, 208, 37);
    width: 630px;
    margin-left:0px;
}

.sigueinte-parte{
  height: 950px;
  display: flex;
  justify-content: space-between;
}
/*reporte Nivel direccion*/
.fader-reporte{
padding-left: 270px;

}
/* nombre y cargo*/
.Nombre-cargo{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.name{
  text-align: center;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;

  width: 300px;
   background-color: #3A80BA;
   color:white;
}
.cargo{
  text-align: center;
  height: 30px;
  margin-top: 0px;
  background-color: #1239;
  color:white;
  font-weight: bold;
}
.h3-top{
  margin-top: 0px;
  text-align: center;
  padding-right: 500px;
}
/*Tabla*/
.tabla-reporteniveldir{
  width:1600px;
}
.tab-arriba{
  width: 1200px;
}

.filas-tab{
  height:10%;
  border-collapse: collapse;
  background: #3A80BA;
  color:white;
  border-top: 1px solid #000;
  border-left:  1px solid #000;
  border-bottom: 1px solid #000;

}
.columna-tab-bori{
  border-right:  1px solid #000;
}
.filas-tab1{
  width: 80px;
}
.filas-tab2{
  width: 70px;
}
.filas-tab3{
  width: 100px;
}
.filas-tab4{
  width: 250px;
}
.filas-tab5{
  width: 500px;
}
.filas-tab6{
  width:200px;
}
.columnas-tab{
  height: 100px;
  text-align: center;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;

}
.num-c{

}
/*reportes pdf*/

.fader-reporte{
  padding-left: 270px;

}
/*imagenes titulo reporte pdf*/
.icons-reporte{
  width: 70px;
  padding-left: 60px;
}
.icons-reporte2{
  width: 200px;
  height: 70px;
  padding-right: 60px;
}
.titulo-reporte{
display: flex;
justify-content: center;
padding-right:  400px;
}
.fecha-reporte{
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  font-weight:bold;
  padding-top: 10px;
  padding-right: 300px;
}
.tabla-reporte{
  padding-top: 40px;
}
.dir-reporte{
  border: 1px solid #000;
  font-weight: bold;
  padding-right: 20px;
  width: 1160px;

}
.titulo-reporte{
  text-align: center;
}

.filas-gene{
border: 1px solid #000;
}
.tab-arribarep{
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #1239;
}
.filas-taba1{
  width: 60px;

}
.filas-taba2{
  width: 70px;

}
.filas-taba3{
  width: 300px;

}
.filas-taba4{
  width: 250px;
}
.filas-taba5{
  width: 250px;
}
.filas-taba6{
  width: 250px;
}
.columnas-a{
  border-bottom: 1px solid #000;
  border-right:  1px solid #000;

  height: 100px;
}
.col-1{
  border-left:1px solid #000;
}
