.fader{padding-left: 260px;
}

.material-icons{

}
.txt-impri{
font-family: Montserrat;
font-weight:bold;
padding-top:0px;
margin-top:0;

}
/* Agenda Semanal*/
.contenedor-1{
  display: flex;
  justify-content:space-between;
  height: 125vh;
}
.sub-contenedor{
  padding:500px 0px 0px 40px;
}
.txt-res2{
  width: 500px;
  margin-top: 10px;
  color: rgb(58, 128, 186);
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: bold;
  font: Arial;
}
.img-azul{

  padding-left: 0px;
  width:900px;
  height: 900px;
}
/* segunda hoja*/
.segunda-vista{
  height: 1000px;
}
.imagen-carga{
  height: 750px;
}
.sub-contenedor-2{
  height: 100px;
}
.contenedor-2{
  padding-left:20px;
}
.paquete-1{
  display: flex;
  width:500px;
}
.paquete-1T{
  width: 500px;
  padding: 0px 50px;
}
.icons{
  padding-right:10px;
  padding-top: 3px;
  width: 30px;
  height:30px;
}
.paq-1{
  display: flex;
  padding-left: 20px;
  padding-top: 5px;
  text-align: justify;
}
 /*Datos de la segunda hoja de la vista de la segunda hoja*/
.imagen-pre{
  display:flex;
  justify-content: center;

}
.prueba2{
  display: flex;
  justify-content: center;
  width: 100%;
}

 .datos-agenda{
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
 }
.paq{
  padding-right: 0px;
}

.bot-paq{
  padding-top: 30px

}

.tercera-parte{
height: 1000px;
display: flex;
justify-content: space-between;


}
.btn-imprimir{
  padding-top:5%; 
  display:flex;
  justify-content:center;

}
.btn-b-l-2{
  margin: 5px;
  text-decoration: none;
  color: white;
  background: #092432;
  padding: 5px;

}
.img-verde{
  padding-left: 0px;
  width: 500px;
  height:900px;
}
/*vista de  actividades elevantes*/
.line-v{
  border-left: 6px solid #092432;
  height: 100px;
}
.txt-abajo{
  display: flex;
  padding-top:20px;
  width: 100%;
}
.img-mano{
  height: 100vh;
  width: 100%;
}
.txt-img-mano{
  display:flex;
  justify-content:center;
}
.txt-com-mano{
  margin-top: 10px;
}
.datos-persona{
  width:33%;

}
.datos-generales{
  width: 33%;
}

.datos-reunion{
  width: 33%;
}
.datos-pro-text{
  width: 100%;
}
.tipo-text{
  text-align: justify;
}
.prueba{
  display: flex;
  flex-direction: space-between;
  width: 900px;
}
/**Texto*/
.txt-age-1{
margin-bottom: 0px;
font-size: 700%;
font:bold;

width: 700px;
}
.txt-age{
margin-bottom: 0px;
width: 700px;
}
.txt-res{
  width: 600px;
  margin-top: 10px;
  color: rgb(58, 128, 186);
  margin-bottom: 10px;
  font-size: 70px;
}
.txt-fe{
  color: rgb(58, 128, 186);
  margin-top: 0px;
  font-size: 40px;
}
.linea
{
    margin-top: 0px;
    border: 5px solid rgb(145, 208, 37);
    width: 453px;
    margin-left:0px;
}
/*  este */
.portada{
  padding-left: 100px;
  padding-top: 500px;
  width: 700px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
/*logos*/
.logos{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
.ims{
height: 100px;
width: 100px;
}
.ims2{
  height: 100px;
  margin-top:0px;
  z-index: 1;
  position:absolute;
}
/*Siguientes hojas parte procurador*/
.sigui-pa{
  padding-top: 40px;
}
.esp-pro{
  border: 3px solid #91D025;
  height: 80%;
  margin-left:0px;
}
.datos-esp-pro{
  display: flex;
  padding-left: 20px;
}
.datos-pro{
margin-top: 0px;
}

.linea-pro{
  border:  2px solid #91D025;
  width: 300px;
  margin-top: 0px;

}
.datos-esp-pro{
  padding-top:  25px;
  padding-right: 10px;

}
.datos-pro-fe{
padding-left: 30px;
}
.text-arro{
  color:#3A80BA ;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}
.text-pro{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C2C2C2;
  font-weight: bold;
  font-size: 19px;
}
/*icons*/
.conju-pro{
  display: flex;
  flex-direction: column;
}
.icons-pos{
  display: flex;
  width:250px;
}
.icons-txt{
margin: 3px;
}
.iconmano{
  width: 30px;
  height: 30px;
}
.txt-mano{
  width: 500px;
  text-align: justify;
  background: rgba(58, 129, 186, 0.5);
}
.mano{
  padding-left: 25px;
  display: flex;
  padding-right: 10px;
  width: 200px;
}
.centro-mano{
  padding-top: 400px;
  display: flex;
  justify-content: center;
}
/* agendapdf*/
.nombre-agendasemanal{
  color: #3A80BA;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;

}
.cargo-age{
  margin-top:0px;
}
.fecha-hora-ubi{
  padding-top: 70px;
}
/* text*/

.txt-age-2{
  margin-bottom: 0px;
  font-size: 55px;
  width: 700px;
  color: rgb(43, 96, 139);
}
.linea-2
{
    margin-top: 0px;
    border: 5px solid rgb(145, 208, 37);
    width: 580px;
    margin-left:0px;
}

.sigueinte-parte{
  height: 950px;
  display: flex;
  justify-content: space-between;
}
/*reporte Nivel direccion*/
.fader-reporte{
  padding-left: 260px;
  width:1600px;
}
/* nombre y cargo*/
.Nombre-cargo{
  padding-left:36px;
  padding-right:36px;
  padding-top: 30px;
  display: flex;
  margin-bottom: 0px;
  width: 1400px;
}
.name1{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  width:300px;
   background-color: #3A80BA;
   color:white;
}
.name{

    text-align: center;
    padding-bottom: 0px;
    font-weight: bold;
  }

  .cargo{
  text-align: center;
  height: 40px;
  margin: 0px;
  background-color: #1239;
  color:white;
  font-weight: bold;
}
.h3-top{
  text-align: center;
  padding-top:3px;
  padding-left: 10px;
  padding-bottom: 0px;


}
/*Tabla*/
table{
  border-collapse: collapse;
}

.tabla-dir{
  padding-left: 40px;
  width:1500px;
}
.tabla-top{
  padding: 10px;
}
.all-tabla{
  font-size:12px;
  text-align: center;
  border:1px solid black;

}
.color-t{
  background:  #3A80BA;
  color: white;
}
.color-t2{
  background:  #1239;
  color: white;
}
.tabla-n{
  width:25px;
}
.tabla-f{
  width:140px;

}
.tabla-h{
  width:100px;

}
.tabla-l{
  width:150px;
}
.tabla-a{
  width: 350px;
  padding:5px;
}
.tabla-b{
  width: 420px;
}
.tabla-r{
  width:200px;
}

.sub-ca{
  padding-left: 50px;
  width: 1380px;

}
.sub-fe{
  width: 1380px;
  display: flex;
  justify-content: flex-end;
}


/*reportes pdf*/

.fader-reporte{
  padding-left: 270px;

}
/*imagenes titulo reporte pdf*/
.icons-reporte{
  width: 70px;
  padding-left: 60px;
}
.icons-reporte2{
  width: 200px;
  height: 70px;
  padding-right: 60px;
}
.titulo-reporte{
width: 1400px;
padding-top: 50px;
display: flex;
justify-content: center;
padding-right:400px;
padding-bottom: 30px;
}
.fecha-reporte{
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  font-weight:bold;
  padding-top: 10px;
  padding-right: 300px;
}
.tabla-reporte{
  padding-top: 40px;
}
.dir-reporte{
  border: 1px solid #000;
  font-weight: bold;
  padding-right: 20px;
  width: 1160px;

}
.titulo-reporte{
  text-align: center;
}

.filas-gene{
border: 1px solid #000;
}
.tab-arribarep{
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #1239;
}
.filas-taba1{
  width: 60px;

}
.filas-taba2{
  width: 70px;

}
.filas-taba3{
  width: 300px;

}
.filas-taba4{
  width: 250px;
}
.filas-taba5{
  width: 250px;
}
.filas-taba6{
  width: 250px;
}
.columnas-a{
  border-bottom: 1px solid #000;
  border-right:  1px solid #000;

  height: 100px;
}
.col-1{
  border-left:1px solid #000;
}
.botons{
  padding-left: 800px;
}
