.mg-conta {
  background: #fafafa;
  margin-left: 256px;
  min-height: 100vh;

}
.content-all {
  display: flex;
  justify-content: center;
}
.content-tarjeta {
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin: 20px;
  width: 50%;
}
.space-b {
  display: flex;
  justify-content: space-between;
}
.dir-content {
  padding-left: 20px;
  width: 80%;
}
.mg-asunto {
  font-weight: bold;
  margin: 20px 0 5px 0;
}
.mg-area {
  color: grey;
  font-size: 14px;
  margin-top: 0;
}
.image {
  width: 20%;
  height: 150px;
  padding: 20px;
}
.image2 {
  width: 100%;
  height: 100%;
}
.content-message2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.content-desc {
  padding: 15px;
}
.desc{
  margin-top: 10px;
}
.fecha-mg {
  font-size: 14px;
  padding: 15px;
  color: grey;
}

.image2:hover{
    -webkit-transform : scale(15,10);
    -webkit-transition-duration: 400ms;
     display:flex;
     justify-content: center;
     padding-top: 30px;
     padding-right:48px;
}

.titulo-mesaje{
  display: flex;
  padding-left: 5%;
  padding-top: 1%;




}










































.mgenerales-container {
  padding: 80px 20px 20px 20px;
}
.content-message {
  border: 1px solid grey;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 5px 5px grey;
  border-radius: 5px;
}
.content-asunto {
  width: 100%;
}
.content-desimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.w-desc {
  width: 70%
}
.w-imagen {
  width: 25%;
}





.mes-content {
  width: 100%;
  margin-bottom: 20px;
}
.mes-area {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}
.mes-text {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding-right: 5px;
}
.mes-date {
  font-size: 10px;
  color: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.mes-desc {
  font-size: 12px;
}
.mes-p {
  margin: 0;
}
.mes-img {
  height: 200px;
}
.mes-img-cars {
  margin-top: 15px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  width: 200px;
  height: 100%;
}
.nav-ma2 {
  background: #092432;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
  z-index: 1;
}
