.mgenerales-container {
  padding: 80px;
}
.content-message {
  border: 1px solid grey;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 5px 5px grey;
  border-radius: 5px;
}
.content-asunto {
  width: 100%;
}
.content-desimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.w-desc {
  width: 70%
}
.w-imagen {
  width: 25%;
}

.content-tarjeta{
  padding: 5px;
  width: 80vh;
  box-shadow: 10px 5px 5px grey;
  margin-bottom: 50px;
  background-color: white;
}
.image{
  height: 60%;
  width: 100%;
}
.image2{
  height: 100%;
  width: 100%;
}
.content-message2{
  height: 40%;
  width: 100%;
  padding-top:30px;
}
.desc{
  margin-top:10px;
}
.content-all{
  display: flex;
  justify-content: center;
}
