.container-show {
  padding: 80px;
  height: 82vh;
}
.container-list-s {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 80px;
}
.form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
}
.content-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.title-a {
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 24%;
}
.bor {
  border-bottom: 1px solid #d0d0d0;
  width: 2%;
}
.container-edit {
  width: 100%;
}
.content-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
}
.title-e {
  text-align: right;
  width: 20%;
}
.input-e {
  width: 85%;

}
.button-e {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}
.style-button-e {
  padding: 5px 10px 5px 10px;
  color: white;
  background: #092432;
}

.style-button-r{
  background-color:#092432;
  color:  #ffffff;
}
.p-padding {
  margin: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.progress3{
  width: 85%;
}
.input-e2 {
  width: 40px;
  height: 500px;
}
