/* Estilos de Aregistradas */
.nav-ma {
  background: #092432;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
  z-index: 1;
}


.h1-ar {
  margin-top: -1px;
  padding-left: 1%;
}
.calendar-container {
  display: flex;
  height: 86vh;
  justify-content: center;
}
.calendar-content {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 100%;
  margin-top: -50px;
  position: relative;
  width: 90%;
  z-index: 2;
}
.week-cont {
  display: flex;
  height: 6%;
  justify-content: space-between;
}
.space-cal {
  width: 5%;
}
.title-week {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 14%;
}
.activity-container {
  display: flex;
  height: 94%;
  justify-content: space-between;
}
.day-container {
  display: flex;
  justify-content: space-between;
  width: 89.6%;
}
.day-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  width: 14%;
}
.card-cal-cont  {
  background: #dc5f70;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-bottom: 3px;
  width: 100%;
}
.azul{
  text-decoration:hover;
  hover:none;
}
.title-activity {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
.hora-activity {
  color: white;
  font-size: 14px;
  margin: 0;
  padding-left: 5px;
}
.add-ar {
  display:flex;
  justify-content: flex-end;
  z-index: 3;
  padding-right: 2.8%;
  padding-top: 2.8%;
  right: 0;
  top: 0;
  position: fixed;
  margin-top: 0px;
}
.p-dia-n {
  margin: 10px 0 0 0;
}
.p-dia {
  margin: 0;
  font-size: 20px;
}

/* vista de  modals */
.modal-vista{
  display: flex;
  justify-content:flex-end;

}
.modal-ojo{
 display: flex;
 justify-content:center;
 background: red;
 filter:alpha(opacity=60); opacity:.6;
}
.mes-icon{
    display: flex;
}
.colores{
  cursor: none;
}




















.container-aregistradas {
  padding: 80px;
  height: 82vh;
}
.content-title-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.title-reg {
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 20%;
}
.title-ra {
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 9%;
}
.p-margin-r {
  margin: 6px;
}
.button-r {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}
.style-button-r {
  padding: 5px 10px 5px 10px;
}
.content-list-ea {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title-t-es {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  width: 25%;
}
.style-p-ea {
  margin: 4px;
}
.hover-prueba{

}
