.search-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-s {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.p-s {
  margin: 4px;
}
.content-t-r {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title-re {
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 4px;
  width: 14%;
}
.container-show{
    padding: 80px;
    height: 82vh;
}
