.search-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-s {
  display: flex;
  flex-direction:space-between;
  margin-right: 20px;
}
/* Botones*/
.modificacion{
  display:flex;
  flex-direction: space-between;

}

.btn-search{
  display: flex;
  margin:1px;
  padding-left: 50px;


}
.btn-1{
  background: #092432;
  color: #ffffff;
}
.btn-space{
  padding-left: 10px;
}
.btn-2{
  background: #092432;
  color: #ffffff;
}
.p-s {
  margin: 4px;
}
.content-t-r {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title-re {
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 4px;
  width: 14%;
}
.container-show{
    padding: 80px;
    height: 82vh;
}
.btn-reportes{
  width: 70%;
  padding-left: 40px;
  padding-top: 20px;


display: flex;
justify-content: flex-start;
z-index: -1;
position: fixed;
}
.btn-b-l{
  margin: 5px;
  text-decoration: none;
  color: white;
  background: #092432;
  padding: 5px;
}
.imp-busq-2{
  width: 90%;
  margin-top: 120px;
  position:fixed;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;


}

.txt-rep{
  padding-left: 10px;
  margin-top: 9px;
}

.btn-reportes-1{
  width: 100%;
  padding-left: 1100px;
  display: flex;
  position: fixed;
  z-index: 1;
}
