|.container-aregistradas-b {
  padding: 80px;
  height: 82vh;
  min-width: 100%;
}
.content-title-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.title-r {
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 10.3%;
}
.title-ra {
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 9%;
}
.p-margin-r {
  margin: 6px;
  text-decoration: none;
}
.button-r {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
  text-decoration: none;

}
.style-button-r {
  padding: 5px 10px 5px 10px;

}
.content-list-ea {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title-t-es {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  width: 25%;
}
.style-p-ea {
  margin: 4px;
}
.borderSelect{
  display: flex;
}
.input-c-qc1{
    height: 30px;
    width: 500px;
    padding-bottom: 40px;

  display: flex;
}
.edi-opt{


}
.head-mes-1{

  width: 50.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height:30px;
}
.status-abus{
    display: flex;
     justify-content: space-around;
}

.icon-block {
    color: red;
    margin-top: -4px;
    padding: 0;
    margin: 0;
    text-decoration:none;
}
.imp-busq{
width: 100%;
padding-top: 150px;
position:fixed;
z-index: 1;
display: flex;
justify-content: flex-start;
background-color: #fafafa;
}
.nav-mms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  background: #fafafa;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
  margin-top: -20px;
  z-index: 2;
}
.mes-icond{
    display: flex;
    position: fixed;

}
