.search-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-s {
  display: flex;
  flex-direction:space-between;
  margin-right: 20px;
}
/* Botones*/
.modificacion{
  display:flex;
  flex-direction: space-between;

}

.btn-search{
  display: flex;
  margin:1px;
  padding-left: 50px;


}
.btn-1{
  background: #092432;
  color: #ffffff;
}
.btn-space{
  padding-left: 10px;
}
.btn-2{
  background: #092432;
  color: #ffffff;
}
.p-s {
  margin: 4px;
}
.content-t-r {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title-re {
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 4px;
  width: 14%;
}
.container-show{
    padding: 80px;
    height: 82vh;
}
.btn-reportes{
  width: 70%;
  padding-left: 40px;
  padding-top: 20px;
  background: #fafafa;
  display: flex;
  justify-content: flex-start;
}
.btn-b-l{
  margin: 5px;
  text-decoration: none;
  color: white;
  background: #092432;
}
.imp-busq-2{
  width: 90%;
  margin-top: 120px;
  position:fixed;
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;


}

.txt-rep{
  padding-left: 10px;
  margin-top: 9px;
}

.btn-reportes-1{
  width: 100%;
  padding-left: 1100px;
  display: flex;
  position: fixed;
  z-index: 3;
}
.mes-center3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 0px;
}
.head-mes-rep {
  width: 13.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 30px;
}
.head-mes-rep-dir {
  width: 26.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 30px;
}
.head-mes-imp {
  width: 6%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 30px;
  display: flex;
  justify-content: center;
}
.material-icons{
  display: flex;
  justify-content: center;
}
.hiper{
  text-decoration: none;

}
/*Editar Actividad*/



.fader-edit{
  padding-left: 256px;
}
.cuadro-editando{
  display: flex;
  justify-content: center;
}
.prueba-s{
  display: flex;
  justify-content:center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  background: white;
  z-index: 2;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 100%;
}
