.nav-col {
  display: flex;
  flex-direction: column;
  height: 100%;
	justify-content: space-between;
	width: 100%;
}
.navbar-navigation {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
  margin-top: 50px;
}
.logo {
  display: flex;
	justify-content: center;
}
.logoimg {
  width: 120px;
  height: 100px;
}
.navbar-left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 42px;
	margin-bottom: 5px;
}
.deco {
	text-decoration: none;
  width: 100%;
  height: 100%;
	display: flex;
	justify-content: flex-start;
}
.deco:hover {
	background-color: #dc5f70;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.hover-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row-h {
  display: flex;
  justify-content: center;
}
.icon-s {
	font-size: 22px;
	margin: 2px;
	margin-right: 20px;
	margin-left: 20px;
}
.nav-t {
	color: #FFF;
  display: flex;
  font-size: 18px;
	margin: 3px;
}
