.nav-col {
  display: flex;
  flex-direction: column;
  height: 100%;
	justify-content: space-between;
	width: 90%;

}
.navbar-navigation {
	height: 50px;
	width: 88%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 70px;
  margin-top: 80px;
}
.logo {
  display: flex;
	justify-content: center;
}
.logoimg {
  width: 120px;
  height: 100px;
}
.logoimg-nav {
  width:200%;
  display: flex;
  padding-top: 12%;
  padding-bottom:10%;
}
.navbar-left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 42px;
	margin-bottom: 5px;
}
.deco {
	text-decoration: none;
  width: 100%;
  height: 100%;
	display: flex;
	justify-content: flex-start;
}
.deco:hover {
	background-color: #dc5f70;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.hover-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row-h {
  display: flex;
  justify-content: center;
}
.icon-s {
	font-size: 20px;
	margin: 1px;
	margin-right: 10px;
	margin-left: 0px;
}
.nav-t {
	color: #FFF;
  display: flex;
  font-size: 12px;
	margin: 1px;
}
.position-border {
    display: flex;
    justify-content: center;
}
.navar-d{
}
