.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	background: #092432;
	z-index: 1;
}
.navbar-navigation {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
}
.navbar-left {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	height: 32px;
	margin-bottom: 5px;
}
.subnav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-left: 30px;
}
.logo {
  display: flex;
	justify-content: center;
}
.nav-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.nav-t {
	color: #FFF;
  display: flex;
  justify-content: left;
	font-size: 14px;
	margin: 5px;
}
.icon-lm {
  margin-right: 25px;
}
.icon-s {
	font-size: 20px;
	margin: 3px;
	margin-right: 20px;
	margin-left: 20px;
}
.deco {
	text-decoration: none;
  width: 100%;
	display: flex;
	justify-content: flex-start;
}
.deco:hover {
	background-color: #dc5f70;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.deco:visited {
	background-color: #dc5f70;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.deco-c {
	text-decoration: none;
	cursor: pointer;
}
.arrow {
	height: 10px;
	padding-left: 10px;
	padding-top: 26px;
}
